go 1.25.2

use (
	./apps/desktop
	./platform/core
	./platform/plugins/blog
	./platform/plugins/devtools
	./platform/plugins/domains
	./platform/plugins/storage_r2
	./platform/providers/cloudflare
	./platform/providers/domains
	./platform/providers/r2
	./services/api
)
